#map{
    width: 60vw;
    height: 80vh;
    margin: auto;
}
.navbar{
    position: relative;
}
.alert{
    display: none;
}
@media only screen and (max-width: 600px) {
    #map{
        width: 80vw;
        height: 80vh;
        margin: auto;
    }
}