/*
    Rosso: #FC4445
    Azzurro chiaro: #3FEEE6
    Azzurro scuro: #55BCC9
    Viola blando: #97CAEF
    "Panna": #CAFAFE
*/

#navigation {
    background-color: transparent;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.title-blue-text {
    color: white;
}

#header-logo {
    width: 60vw;
}

.pulse-hover:hover {
    transform: scale(1.4);
    transition: all ease 1000ms;
}

.pulse-hover {
    transition: all ease 700ms;
}

#header-logo {
    max-width: 150%;
}

#header-arrow {
    color: #97CAEF;
    font-size: 4em;
}

.title-red-text {
    color: white;
}

#motorFactorProduct {
    background-color: #FC4445;
}

#garageTyreCenterProduct {
    background-color: #29abe2;
}

footer {
    background-color: #FC4445;
}

.footer-red {
    background-color: #FC4445;
}

.swiper-container {
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.warning-color {
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}

#products a {
    margin-bottom: 2vh;
}

#moreSystem,
#moreChallenge,
#moreSiteBuilding,
#moreDisruption,
#moreTier {
    display: none;
}

@media only screen and (max-width: 400px) {
    .list-group-item {
        font-size: 0.7em;
        padding-left: 0.5em;
    }
    .row {
        margin: 0 !important;
    }
    #motorFactorProduct {
        margin-bottom: 5vh;
    }
}

.icon-blue {
    background-color: #3FEEE6;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon-red {
    background-color: #FC4445;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
}

#website247 {
    background-image: url('../img/icons/website247.png');
}

#reglookup {
    background-image: url('../img/icons/reglookup.png');
}

#accounting {
    background-image: url('../img/icons/accounting.png');
}

#tecdoc {
    background-image: url('../img/icons/tecdoc.png');
}

#stockcontrol {
    background-image: url('../img/icons/stockcontrol.png');
}

#partnumber {
    background-image: url('../img/icons/partnumber.png');
}

@media only screen and (max-width: 400px) {
    .title {
        text-align: center;
        border-bottom: 1px solid black;
    }
}

.title {
    border-right: 1px solid black;
}

.margin-y {
    margin-top: 10rem;
}